services:

  web-app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./service:/service
    environment:
      - DB_HOST=database
      - DB_NAME=db_name
      - DB_USER=dbuser
      - DB_PASS=pass
    command: |
      sh -c "python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - database
      - redis

  database:
    image: postgres:14.6-alpine
    environment:
      - POSTGRES_DB=db_name
      - POSTGRES_USER=dbuser
      - POSTGRES_PASSWORD=pass
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  redis:
    image: redis:7.0.5-alpine
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
    hostname: worker
    command: ["celery", "-A", "celery_app.app", "worker", "--loglevel=info"]
    volumes:
      - ./service:/service
    links:
      - redis
    depends_on:
      - redis
      - database
    environment:
      - DB_HOST=database
      - DB_NAME=db_name
      - DB_USER=dbuser
      - DB_PASS=pass

  worker2:
    build:
      context: .
    hostname: worker2
    command: ["celery", "-A", "celery_app.app", "worker", "--loglevel=info"]
    volumes:
      - ./service:/service
    links:
      - redis
    depends_on:
      - redis
      - database
    environment:
      - DB_HOST=database
      - DB_NAME=db_name
      - DB_USER=dbuser
      - DB_PASS=pass

  flower:
    build:
      context: .
    hostname: flower
    entrypoint: celery
    command: -A celery_app.app flower
    volumes:
      - ./service:/service
    links:
      - redis
    depends_on:
      - redis
    ports:
      - '5555:5555'




volumes:
  postgres_data:



